.jumbotron {
    padding-top: 3rem;
    background-color: rgb(98, 100, 104) ;

}

.jumbotron2 {
    background-color: rgb(98, 100, 104);
}

.jumbotron3 {
    padding-bottom: 3rem;
    background-color: rgb(98, 100, 104); 
}


